<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Enlazar tu archivo CSS personalizado -->
    <link rel="stylesheet" href="static/css/styles.css">    
    <title>Images Without Tags</title>
    
    {% include 'navbar.html' %}

    </style>
</head>
<body>


    <h1>Images Without Tags</h1>
    <div class="image-gallery">
        <ul>
        {% for image in images %}
        <div class="image">
            <a href="{{ url_for('show_image', image_id=image.id) }}">
                <img src="{{ url_for('static', filename='uploads/' + image.filename) }}" alt="Image" style="max-width: 300px; max-height: 300px;">
            </a>
        </div>
        {% endfor %}
    </ul>
    </div>
</body>
</html>
